    // sass -w assets/sass:assets/css
    @use 'cards';
    @import 'variables';
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .super-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    
    .container {
        width: 1440px;
        display: flex;
        justify-content: center;
        user-select: none;
    }
    
    .container,
    .upper,
    .lower {
        display: flex;
        flex-wrap: wrap;
    }
    
    body {
        background-color: $body;
        color: white;
        font: {
            family: 'Rubik', sans-serif;
            size: 18px;
        }
    }
    
    .daily,
    .weekly,
    .monthly {
        flex-direction: column;
    }
    
    .daily {
        display: flex;
    }
    
    .weekly {
        display: none;
    }
    
    .monthly {
        display: none;
    }
    
    .main {
        background-color: $card;
        width: 270px;
        height: 555px;
        border-radius: 15px;
        margin: 15px;
        .profile {
            background-color: $blue;
            height: 70%;
            border-radius: 15px;
            .picture {
                width: 80px;
                border: 5px solid white;
                border-radius: 50%;
                margin: 30px;
            }
            p,
            h1 {
                margin-left: 30px;
                font-weight: 400;
            }
        }
        .button-div {
            display: flex;
            flex-direction: column;
            a {
                margin: 20px 0px 0px 30px;
                &:visited {
                    color: red;
                }
                &:hover {
                    cursor: pointer;
                    filter: brightness(0.6);
                }
            }
        }
    }
    
    @media (max-width:1250px) {
        .super-container {
            .container {
                width: 1000px;
                margin: auto;
            }
            .left {
                width: 90%;
                height: 50%;
                .main {
                    width: 100%;
                    height: 90%;
                    .profile {
                        display: flex;
                        height: 60%;
                        .picture {
                            width: 15%;
                            height: 60%;
                        }
                        p {
                            margin-top: 20%;
                        }
                    }
                    .button-div {
                        height: fit-content;
                    }
                }
            }
        }
    }
    
    @media (max-width:1000px) {
        .container {
            width: 800px;
            flex-direction: column;
            flex-wrap: nowrap;
            margin: auto;
        }
        .left {
            margin-bottom: 20px;
            .main {
                height: 100%;
                .profile {
                    .picture {
                        height: 55%;
                    }
                }
            }
        }
    }
    
    @media (max-width:800px) {
        .container {
            width: 90%;
        }
        .left {
            .main {
                .profile {
                    .picture {
                        height: 40%;
                    }
                }
            }
        }
    }
    
    @media (max-width:600px) {
        .left {
            height: 100%;
            .main {
                height: 100%;
                .profile {
                    height: 50%;
                }
            }
        }
        h1 {
            font-size: 1.2rem;
        }
    }