@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
.card {
    width: 270px;
    height: 260px;
    margin: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .daily,
    .weekly,
    .monthly {
        border-radius: 15px;
        background: $card;
        z-index: 30;
        position: relative;
        bottom: 25px;
        height: 210px;
        .sub-head {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 20px;
                margin: 25px 0 0 30px;
                text-transform: capitalize;
            }
            img {
                width: 35px;
                position: relative;
                padding: 20px;
                margin: 10px 10px 0 0;
                &:hover {
                    cursor: pointer;
                    filter: brightness(0.7);
                }
            }
        }
        h1 {
            font-weight: 300;
            margin: 20px 0 0 30px;
            font-size: 4.2rem;
        }
        p {
            margin: 10px 0 25px 30px;
            text-transform: capitalize;
        }
    }
    .card-header {
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        border-radius: 15px;
        position: relative;
        height: 80px;
        flex-shrink: 0;
        img {
            margin-right: 20px;
            width: 90px;
            position: relative;
            bottom: 10px;
        }
    }
    &:hover {
        filter: brightness(1.35);
    }
}

#work {
    .card-header {
        background-color: $work;
    }
}

#play {
    .card-header {
        background-color: $play;
    }
}

#study {
    .card-header {
        background-color: $study;
    }
}

#exercise {
    .card-header {
        background-color: $exercise;
    }
}

#social {
    .card-header {
        background-color: $social;
    }
}

#self-care {
    .card-header {
        background-color: $selfCare;
    }
}

@media (max-width:1000px) {
    .right {
        width: 100%;
        .upper {
            width: 90%;
            flex-direction: column;
            .card {
                width: 100%;
                .lower-card {
                    display: flex;
                    p {
                        margin: 8% 0 0 40%;
                    }
                }
            }
        }
        .lower {
            width: 90%;
            flex-direction: column;
            .card {
                width: 100%;
                .lower-card {
                    display: flex;
                    p {
                        margin: 8% 0 0 40%;
                    }
                }
            }
        }
    }
}

@media (max-width:600px) {
    .right {
        .upper,
        .lower {
            .card {
                .lower-card {
                    p {
                        margin: 8% 0 0 10%;
                    }
                }
            }
        }
    }
}