@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
.card {
  width: 270px;
  height: 260px;
  margin: 15px;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.card .daily,
.card .weekly,
.card .monthly {
  border-radius: 15px;
  background: #1c1f4a;
  z-index: 30;
  position: relative;
  bottom: 25px;
  height: 210px;
}
.card .daily .sub-head,
.card .weekly .sub-head,
.card .monthly .sub-head {
  display: flex;
  justify-content: space-between;
}
.card .daily .sub-head p,
.card .weekly .sub-head p,
.card .monthly .sub-head p {
  font-size: 20px;
  margin: 25px 0 0 30px;
  text-transform: capitalize;
}
.card .daily .sub-head img,
.card .weekly .sub-head img,
.card .monthly .sub-head img {
  width: 35px;
  position: relative;
  padding: 20px;
  margin: 10px 10px 0 0;
}
.card .daily .sub-head img:hover,
.card .weekly .sub-head img:hover,
.card .monthly .sub-head img:hover {
  cursor: pointer;
  filter: brightness(0.7);
}
.card .daily h1,
.card .weekly h1,
.card .monthly h1 {
  font-weight: 300;
  margin: 20px 0 0 30px;
  font-size: 4.2rem;
}
.card .daily p,
.card .weekly p,
.card .monthly p {
  margin: 10px 0 25px 30px;
  text-transform: capitalize;
}
.card .card-header {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  border-radius: 15px;
  position: relative;
  height: 80px;
  flex-shrink: 0;
}
.card .card-header img {
  margin-right: 20px;
  width: 90px;
  position: relative;
  bottom: 10px;
}
.card:hover {
  filter: brightness(1.35);
}

#work .card-header {
  background-color: #ff8c66;
}

#play .card-header {
  background-color: #56c2e6;
}

#study .card-header {
  background-color: #ff5c7c;
}

#exercise .card-header {
  background-color: #4acf81;
}

#social .card-header {
  background-color: #7536d3;
}

#self-care .card-header {
  background-color: #f1c65b;
}

@media (max-width: 1000px) {
  .right {
    width: 100%;
  }
  .right .upper {
    width: 90%;
    flex-direction: column;
  }
  .right .upper .card {
    width: 100%;
  }
  .right .upper .card .lower-card {
    display: flex;
  }
  .right .upper .card .lower-card p {
    margin: 8% 0 0 40%;
  }
  .right .lower {
    width: 90%;
    flex-direction: column;
  }
  .right .lower .card {
    width: 100%;
  }
  .right .lower .card .lower-card {
    display: flex;
  }
  .right .lower .card .lower-card p {
    margin: 8% 0 0 40%;
  }
}
@media (max-width: 600px) {
  .right .upper .card .lower-card p,
.right .lower .card .lower-card p {
    margin: 8% 0 0 10%;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.super-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 1440px;
  display: flex;
  justify-content: center;
  user-select: none;
}

.container,
.upper,
.lower {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: #0f1424;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.daily,
.weekly,
.monthly {
  flex-direction: column;
}

.daily {
  display: flex;
}

.weekly {
  display: none;
}

.monthly {
  display: none;
}

.main {
  background-color: #1c1f4a;
  width: 270px;
  height: 555px;
  border-radius: 15px;
  margin: 15px;
}
.main .profile {
  background-color: #5847eb;
  height: 70%;
  border-radius: 15px;
}
.main .profile .picture {
  width: 80px;
  border: 5px solid white;
  border-radius: 50%;
  margin: 30px;
}
.main .profile p,
.main .profile h1 {
  margin-left: 30px;
  font-weight: 400;
}
.main .button-div {
  display: flex;
  flex-direction: column;
}
.main .button-div a {
  margin: 20px 0px 0px 30px;
}
.main .button-div a:visited {
  color: red;
}
.main .button-div a:hover {
  cursor: pointer;
  filter: brightness(0.6);
}

@media (max-width: 1250px) {
  .super-container .container {
    width: 1000px;
    margin: auto;
  }
  .super-container .left {
    width: 90%;
    height: 50%;
  }
  .super-container .left .main {
    width: 100%;
    height: 90%;
  }
  .super-container .left .main .profile {
    display: flex;
    height: 60%;
  }
  .super-container .left .main .profile .picture {
    width: 15%;
    height: 60%;
  }
  .super-container .left .main .profile p {
    margin-top: 20%;
  }
  .super-container .left .main .button-div {
    height: fit-content;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 800px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
  }

  .left {
    margin-bottom: 20px;
  }
  .left .main {
    height: 100%;
  }
  .left .main .profile .picture {
    height: 55%;
  }
}
@media (max-width: 800px) {
  .container {
    width: 90%;
  }

  .left .main .profile .picture {
    height: 40%;
  }
}
@media (max-width: 600px) {
  .left {
    height: 100%;
  }
  .left .main {
    height: 100%;
  }
  .left .main .profile {
    height: 50%;
  }

  h1 {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=default.css.map */
